<header class="header">
  <nav class="header_nav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 header_name text_color text-center"><%= current_user.name %>さん</div>
        <div class="col-2"></div>
        <div class="col-4 header_title text-center text_color"><%= link_to "ToDo", root_path, class: "header_title_link", :style => "color: white;" %></p></div>
        <div class="col-2 header_newlist text_color text-right">
          <%= link_to "リストを作成",  new_list_path, class: "header_newlist_link", :style => "color: white;" %>
          <i class="fas fa-edit"></i>
        </div>
        <div class="col-2 header_signout text_color "><%= link_to "サインアウト", destroy_user_session_path, class: "header_signout_link", method: :delete, :style => "color: white;" %></div>
      </div>
    </div>
  </nav>
</header>