<div class="header">
  <div class="nav">
    <ul>
      <li class="nav_name">〇〇さん</li>
      <li class="nav_todo">TODO</li>
      <li><%= link_to "リストを作成", "#", class: "nav_list" %></li>
      <i class="fas fa-list"></i>      
      <li><%= link_to "サインアウト", "#", class: "nav_signout"%></li>
    </ul>
  </div>
</div>