@mixin submitbtn{
  background:  #b7a598;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  cursor: pointer;
  &:hover {
    opacity: .6;
  }
}

.listnewPage {
  .new_list{
    margin: 0 auto;
    width: 500px;
    margin-top: 200px;
  }
}

.cardnew_list{
  font-size: 25px;
}


.submitBtn{
  @include submitbtn;
  
}