@mixin submitbtn{
  background: grey;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  cursor: pointer;
  &:hover {
    opacity: .6;
  }
}

.todo_input{
  margin-top: 20vh;
}

.list_new_page {
  height: 100vh;
}


.list_new_container{
  background: aqua; 
  margin: 0 auto;
  width: 40%;
  
}

.submitBtn{
  @include submitbtn;
  
}