// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card_new_page{
  background: grey;
  width: 100%;
  height: 100vh;
}

.card_new_container{
  background: hotpink;
  width: 40%;
  height: 400px;
}