// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cardnewPage{  
  .cardnewForm{
    width: 500px;
    margin: 0 auto;
    margin-top: 200px;
  }
}

.cardnewForm{
  &_title{
  margin-bottom: 20px;
  font-size: 23px;
  }
  &_memo{
    font-size: 23px;
  }
}

