.header{
  background: #026aa7;
  &_nav{
    height: 80px;
  }
}

.header_menu{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  li{
    list-style: none;
        color: #fff;
  a{
    color: #fff;
    text-decoration: none;
  }
  }
}

.text_color{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_name{
  font-size: 23px;
}

.header_title{
  font-size: 25px;
  font-weight: bold;
}

.header_newlist{
  font-size: 23px;
}

.fa-edit{
  font-size: 23px;
  padding-top: 4px;
  margin-right: 20px;
}

.header_signout{
  font-size: 23px;
}