.header{
  .nav{
    width: 100%;
    background: beige;
    ul{
      display: flex;
      justify-content: space-between;
      li{
        display: inline-block;
        a{
          text-decoration: none;
        }
      }
    }
  }
}
.nav_todo{
  margin-left: 600px;
}

.nav_list{
  margin-left: 500px;

}

.nav_signout{

}
