// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_page{
  background: gray;
}

.list_wrapper{
  width: 100%;
  height: 60px;
  background: aqua;
  display: flex; 
  justify-content: space-between;
}

