// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topPage{
  // background: #bababa;
  height: 100vh;
  background-image: url(https://with-asset.chouseisan.com/uploads/2018/07/22125751/PnLzxfl04i6fwuQuyzZen2z8v28UjFxyHXHj8Iqj-1400x933.jpeg);
  background-size: cover;
  .listWrapper{
    padding-top: 30px;
    display: flex;
    align-items: baseline;
    .list{
      background: #5D310C;
      padding: 10px;
      width: 250px;
      margin-left: 20px;
      &_header{
        justify-content: space-between;
        display: flex;
        color: #b7a598;
        &_action{
          .fa-trash, .fa-pen{
            font-size: 18px;
            color: #b7a598;
            margin-top: 10px;
          }
        }
      }
      
    }
  }
}

.cardWrapper{
  .cardDetail_link{
    text-decoration: none;
    .card{
      margin-bottom: 10px;
      padding: 10px;
      &_title{
        font-size: 20px;
        color: black;
      &_detail{
        color: #b7a598;
        }
      }
      }
    }
  }

.fa-bars{
  color: #8c8c8c;
}

.addCard{
  .fa-plus-square{
    color: #b7a598;
  }
  &_link{
    color: #b7a598;
  }
}